#kreisGesicht {
    background-color: fuchsia;
    width: 350px;
    height: 350px;
	  border-radius: 200px;
    top: 200px;
    left: 200px;
    position: absolute;
}

#triangle-up {
  width: 0;
  height: 0;
  position: absolute;
  top: 180px;
  left: 230px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid rgb(246, 156, 85);
}

#triangle-up-left {
  width: 0;
  height: 0;
  position: absolute;
  top: 220px;
  left: 210px;
  border-top: 160px solid fuchsia;
  border-right: 160px solid transparent;
}

#triangle-up-right {
  width: 0;
  height: 0;
  position: absolute;
  top: 220px;
  left: 410px;
  border-top: 160px solid rgb(246, 156, 85);
  border-left: 160px solid transparent;
}
